.conteiner {
    background-color: #777777;
    max-width: 900px;
    display: grid;
    grid-template-areas: "video-destaque propaganda""video-destaque videos-sugeridos";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 5px;
}

.video-destaque {
    grid-area: video-destaque;
}

.video-destaque img {
    width: 543px;
    height: 217px;
}

.propaganda {
    grid-area: propaganda;
}

.propaganda img{
    width: 270px;
    height: 56px;
}

.videos-sugeridos {
    grid-area: videos-sugeridos;
}

.videos-sugeridos img {
    width: 101px;
    height: 71;
}

.videos-sugeridos .video {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.videos-sugeridos .video .titulo {
    font-size: 14px;
    margin-bottom: 5px;
}

.videos-sugeridos .video p {
    font-size: 11px;
    margin-bottom: 5px;
}